{% block navbar %}
  <nav class="navbar">
    <ul><strong>BurnOnRead</strong></ul>
    <ul>
      <li><a href="/">Home</a></li>
      <li href="/burn-on-read">BurnOnRead</li>
    </ul>
  </nav>
{% endblock %}