{% macro blogEntrie(title, image, author, createdAt, teaser, content, id) %}
<div class="post-preview">
  <div>
    <a href="posts/{{ id }}">
      <h2 class="post-title">{{ title }}</h2>
      <h3 class="post-subtitle">{{ teaser }}</h3>
    </a>
    <p class="post-meta">
      Posted by
      <a href="#!">{{ author }}</a>
      on {{ formatedDate }}
    </p>
  </div>
  
  <div class="blog-post-edit"> <form action="/admin/edit-post/{{ id }}">
      <button type="submit">Edit</button>
    </form>
    <form method="POST" action="/admin/delete-post/{{ id }}">
      <button type="submit">Delete</>
    </form>
  </div>
</div>

<!-- Divider-->
<hr class="my-4" />
{% endmacro %}