{% from './macros/textarea.njk' import textarea %}
{% extends "_baseLayout.njk" %}
{% block body %}
  <main class="container-main" style="background-image: url('/assets/images/header-bg.png')">
    <div class="main-content">
      <div class="output-container">
        <form action="/authentication/{{ id }}", method="POST">
          {{ textarea(id="password", name="password", label="Enter File Password", placeholder=error, content=fileUrl)  }}
          <button type="submit">Enter Password</button>
        </form>
      </div>
    </div>
  </main>
{% endblock %}