{% macro textarea(id, name='', label='', placeholder='', disabled=false) %}
  {% if label %}
    <label for="{{ id }}">{{ label }}</label>
  {% endif %}
  <textarea id="{{ id }}" name="{{ name }}" placeholder="{{ placeholder }}"
    {% if disabled %}disabled{% endif %}></textarea>
{% endmacro %}
