{% from './macros/blogEntrie.njk' import blogEntrie %}
{% extends "./_adminLayout.njk" %}

{% block body %}
  <div class="blog-entries">
    <a href="/admin/add-new-entry" class="button">Add New Post</a>
    {% for blogPost in blogEntries %}
      {{ blogEntrie(
        title=blogPost.title,
        image=blogPost.image,
        author=blogPost.author,
        createdAt=blogPost.formatedDate,
        teaser=blogPost.teaser,
        content=blogPost.content,
        id=blogPost.id
      ) }}
    {% endfor %}
  </div>
{% endblock %}
