{% from "./macros/quillEditor.njk" import quillEditor %}
{% extends "./_adminLayout.njk" %}

{% block body %}
  <div class="post-edit-container">
    <form method="POST" action="/admin/edit-post/{{ slug }}">
      <div class="post-edit-title">
        <div class="post-edit-label">Title: </div>
        <input class="post-edit-input" name="title" value="{{ title }}" />
      </div>
  
      <div class="post-edit-image">
        <div class="post-edit-label">Image: </div>
        <input class="post-edit-input" name="image" value="{{ image }}" />
      </div>
  
      <div class="post-edit-author">
        <div class="post-edit-label">Author: </div>
        <input class="post-edit-input" name="author" value="{{ author }}" />
      </div>
  
      <div class="post-edit-teaser">
        <div class="post-edit-label">Teaser: </div>
        <input class="post-edit-input" name="teaser" value="{{ teaser }}" />
      </div>
  
      <div class="post-edit-date">
        <div class="post-edit-label">Date: </div>
        <input class="post-edit-input" name="date" value="{{ createdAt }}" />
      </div>
  
      {{ quillEditor("content", content ) }}
      
      <button type="submit">Save Changes</button>
    </form>
  </div>
{% endblock %}
